.provider-setup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f5f7fa;
    min-height: 100vh;
  }
  
  .provider-setup-form {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .provider-setup-form h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #1EBEB1;
    font-size: 24px;
    font-weight: 500;
  }
  
  .provider-setup-form label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 15px;
    color: #1EBEB1;
  }
  
  .provider-setup-form input[type="text"],
  .provider-setup-form input[type="url"],
  .provider-setup-form input[type="file"],
  .provider-setup-form select {
    margin-top: 6px;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    /* background-color: #1EBEB1; */
    color: rgb(167, 167, 167);
    transition: border-color 0.2s ease-in-out;
  }
  
  .provider-setup-form input[type="text"]:focus,
  .provider-setup-form input[type="url"]:focus,
  .provider-setup-form select:focus {
    border-color: #1EBEB1;
    outline: none;

    background-color: #fff;
  }
  
  .provider-setup-form input[type="file"] {
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .provider-setup-form button {
    padding: 12px;
    background-color: #1EBEB1;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .provider-setup-form button:hover {
    background-color: #ffffff;
    color: #1EBEB1;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.212);
  }
  
  @media (max-width: 500px) {
    .provider-setup-form {
      padding: 25px 20px;
    }
  }
  