.dest-card-detail-container{
    width: 100%;
}
.dest-card-detail-navbar{
    height: 20px;
    
}
.dest-card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"poppins", sans-serif;
    margin-top: 150px;
    width: 100%;

    /* border: 1px solid black; */
}
/* .dest-card-detail-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

} */
.back-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    width: 80%;
    
    cursor: pointer;
}
.back-btn img{
    width: 18px;
}
.back-btn p{
    color: #000000;
}
.dest-card-detail h2{
    font-size: 32px;
    font-weight:600 ;
    color: #000000;
    margin-bottom: 20px;
    /* margin-left: 15%; */

}

/* Slider image container */
.card-detail-image-slider-container{
    height: 450px ;
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.767);
}
.card-detail-slider-image-wrapper {
    height: 100%;
    width: 100%;
    /* border-radius: 15px; */
    overflow: hidden;
}
.card-detail-slider-image-wrapper img{
    height: 450px;
    width: 100%;
    display: block;
    background-position: bottom;
    /* border-radius: 15px; */
    object-fit: cover !important;
}

.slick-dots {
    /* bottom: 0px !important; */
    top: 80% !important;
  }
  
  .slick-dots li button:before {
    color: #ffffff !important;
    font-size: 10px !important;
  }
  
  .slick-dots li.slick-active button:before {
    color: #1EBEB1 !important;
  }
  

.dest-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0 3px 8px #00000080;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: -50px;
    z-index: 1;
    width:60%;
    
}

.dest-card-content p{
    font-size: 14px;
    text-transform: capitalize;

}
.dest-card-content b{
    font-size: 16px;
}
.dest-card-content p i{
    text-transform: capitalize;
}

/* //Map */
.dest_detail-map{
    width: 100%;
    max-width:60%;
    height: 550px;
    margin: 50px auto 0;
    position: relative;
    z-index: 1;
    overflow: hidden;

    font-size: 16px;
}

.dest-details-show-map{
    font-size: 16px;
}
/* <=======review stylings=======> */

.home-dest-reviews-container{
    width: 100%;
    /* height: 300px; */
    margin-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.home-dest-show-review{
    width: 70%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 3px 8px #00000080; */
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 10px;
    /* padding: 20px; */
    padding: 10px 20px;
    margin-bottom: 30px;
}
.home-dest-reviews-container h2,h3{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-top: 30px;
    
}
.home-dest-add-review{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width:768px){
    
    .dest-card-detail h2{
        font-size: 28px;
        }    
     .card-detail-image-slider-container{
        height:300px !important
    }

.card-detail-listing-image{
    height:300px !important;
}
}

@media only screen and (max-width:480px){

    .dest-card-detail{
        margin-top: 100px;
    }
     .dest-card-detail h2{
        font-size: 20px;
        }    
     .card-detail-image-slider-container{
        height:250px !important
    }

.card-detail-listing-image{
    height:250px !important;
}
.dest-card-content p{
    font-size: 12px;
    text-transform: capitalize;
}
.dest-card-content b{
    font-size: 14px;
    text-transform: capitalize;

}
.home-dest-reviews-container h2,h3{
    font-size: 24px;
}

}