.guide-card-detail-container{
    width: 100%;
}
/* .guide-card-detail-navbar{
    height: 20px;
    
} */
.guide-card-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:"poppins", sans-serif;
    margin-top: 150px;
    width: 100%;
}

.back-btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    width: 80%;
    
    cursor: pointer;
}
.back-btn img{
    width: 18px;
}
.back-btn p{
    color: #000000;
}
.guide-card-detail h2{
    font-size: 32px;
    font-weight:600 ;
    color: #000000;
    margin-top: 20px;

}


.guide-card-img{
    width: 80%;
    padding: 20px;
    padding-bottom: 0px;
}
.guide-card-img img{
    height: 400px;
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.767);
    /* background-blend-mode: lighten; */
}

.guide-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 0 3px 8px #00000080;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: -50px;
    z-index: 1;
    width:70%;
    
}
/* .room-details{
    width: 100%;

} */

.guide-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}
.guide-card-content button{
    margin: 1rem;
    background-Color: #1EBEB1;
    color: white;
    align-self: center;
    width: 100%;
    border: none;
    padding: 0.6rem 1.2rem;
    border-Radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.guide-card-content button:hover{
    background-Color: #ffffff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.363) ;
    color: #1EBEB1;
}
.guide-card-content p{
    font-size: 14px;
    text-transform: capitalize;

}
.guide-card-content b{
    font-size: 16px;
}
.guide-card-content p i{
    text-transform: capitalize;
}

.detail-box{
    background-color: #fdfdfd;
    margin: 0.5rem 0;
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    /* border:1px solid rgba(0, 0, 0, 0.034); */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.178);
}

/* <=======review stylings=======> */

.home-guide-reviews-container{
    width: 100%;
    /* height: 300px; */
    margin-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.home-guide-show-review{
    width: 85%;
    display: flex;
    flex-direction: column;
    /* box-shadow: 0 3px 8px #00000080; */
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 10px;
     padding: 10px 20px;
    margin-bottom: 30px;
}
.home-guide-reviews-container h2,h3{
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    margin-top: 30px;
    
}
.home-guide-add-review{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    
}