.search{
    width: 100%;
    box-sizing: border-box;
}
.searchbar-text{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 40%;
    gap: 10px;
    border: 1px solid rgb(122, 122, 122);
    background-color: rgba(31, 31, 31, 0.568);
    border-radius:50px ;
    padding: 0 5px 0 5px
      
}
.searchbar-text input{
    border: none;
    outline: none;
    /* height: 50px; */
    width: 100%;
    color: rgb(177, 177, 177);
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
}
.search-type-container{
    color: rgb(226, 226, 226);
    background-color: rgba(31, 31, 31, 0.568);
    padding: 0.6rem 0.75rem;
    margin-left: 10px;
    border-Radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(122, 122, 122);
}

.searchbar-btn{
    background-Color:transparent;
    border: 1px solid rgb(206, 206, 206);
    color: white;
    padding: 0.6rem 1.5rem;
    margin-left: 10px;
    border-Radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.searchbar-btn:hover{
    
    /* background-color: rgba(31, 31, 31, 0.568); */
    border: 1px solid transparent; 
    color: #ffffff;
    background-color: #1ca196;
}

@media only screen and (max-width:640px){
    .search-type-container{
    padding: 0rem 0rem; 
        border-Radius: 20px;
   
}
.searchbar-btn{
    padding: 0.5rem 1rem;
 
}
.searchbar-text{
 
    width: 80%;
    flex-wrap: wrap;
    
}
.searchbar-text input{
        padding: 5px;
}
}