.Feedback{
    padding-top: 25px;
    position: relative;
}
.Feedback h1{
    color: black;
    font-size: 22px;
    font-weight: 600;
    font-family: poppins;
}
.Feedback-container{
    margin-top: 40px;
    padding: 30px 0px;
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: rgba(0, 0, 0, 0.486);
    background-image: url("../../assets/web-img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-radius: 10px;
}

.person-feedback{
    flex:  0 0 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.arrow-buttons {
    position: absolute;
    top: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.arrow-buttons button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    /* width: 100%; */
    padding: 10px;
    transition:  0.3s;
}

.arrow-buttons button:hover {
    color: #1DB3A6; /* Change color on hover for better visual feedback */
    transform: scale(1.1);
}
