.home_card {
  width: 270px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color:  rgb(240, 240, 240);
}
.home_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Initially transparent */
  transition: background 0.5s ease-in;
  z-index: 1;
}
  /* .home_card_background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .6s ease-out;
    transition: .6s ease-out;
  } */
.home_card_content_container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  .home_card_content{
    height: 100%;

  }
  
  .home_card_content h2 {
    position: absolute;
    inset: auto auto 20px 20px; 
    margin: 0;
    transition: inset .2s .2s ease-out;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .home_card_content p, .home_card_btn {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .2s  ease-out;
  }
  
  .home_card_content p {
    inset: auto auto 10px 20px;
    height:44%;
    top: 35%;    
    font-size: 14px;
    overflow: hidden;
    transition: opacity .2s  ease-out;


  }
  .home_card_btn{
    padding:2px 5px;
    border-radius: 5px; 
    font-size: 12px;
    font-weight: 500;
    border: 1px solid white;
    transition: opacity .1s  ease-out;
  }
  
  
 .home_card_content button {
    inset: auto auto 20px 20px;
    color: inherit;
    text-decoration: none;

  } 
  .home_card:hover::after {
    background: rgba(0, 0, 0, 0.5); /* Dark overlay on hover */
  
  }
 
  .home_card:hover{
    
    &:hover .home_card_content h2 {
      inset: auto auto 160px 20px;
      transition: inset .5s ease-out;
      z-index: 2;
      
    }
    &:hover .home_card_content p{
      inset: auto auto 160px 20px;
      height:44%;
      top: 35%;
      overflow: hidden;
      opacity: 1;
      transition: opacity .5s .1s ease-in;
      z-index: 2;

    }
    &:hover .home_card_content button {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
      z-index: 2;

    }
    
    &:hover .home_card_background {
      transition: opacity .5s ease-in;
      transform:scale(1.5,1.5);
      transition: .5s ease-in;
      opacity: 1;

    }
    
  
  }


  .material-symbols-outlined {
    vertical-align: middle;
  } 

/* Slider image container */
.home_card_image-slider-container{
  height: 100% ;
  width: 100%;
  overflow: hidden;

}
.home_card_slider-image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
}


.home_card_listing-image{
  height: 250px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.slick-dots {
    bottom: 10px !important;
  }
  
  .slick-dots li button:before {
    color: #ffffff !important;
    font-size: 10px !important;
  }
  
  .slick-dots li.slick-active button:before {
    color: #1EBEB1 !important;
  }
  
  

  /* &:hover h2 {
    inset: auto auto 220px 30px;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover button {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }



.material-symbols-outlined {
  vertical-align: middle;
}  */

    /* my second style */
    /* .home_card_background:hover {
      transition: opacity .5s ease-in;
      transform:scale(1.5,1.5);
      transition: .5s ease-in;
      opacity: 1;
    }
    .home_card_content_container{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      
    }
    .home_card_content{
      height: 100%;
    }
    .home_card_content h2{
      padding: 0;
      margin: 0;
    }
    .home_card_content p{
      font-size: 14px;
      height: 70%;
      overflow: hidden;
  
    }
    .home_card_content button{
      margin: 5px 0px;
      padding: 3px 5px;
      border-radius: 8px; 
      border: 1px solid white;
      bottom: 0;
    } */
    